body,div,html{
    margin: 0;
    padding: 0;
}
#header
{
    height: 60px;
    width:  100%;
    background-color: #c52F2F;
}
#header .left>div
{
    display: inline-block;
    vertical-align: middle;
}
#header .left .logo
{
    color:#fff;
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 60px;
}
#header .left .button-cotainer>span
{
    font-size: 0.9rem;
    color: #fff;
    border:1px solid rgb(83, 79, 79);
    border-radius: 3px 0 0 3px;
    padding:3px 5px;
}
#header .left .button-cotainer>span:last-child
{
    font-size: 0.9rem;
    border:1px solid rgb(83, 79, 79);
    border-radius: 0 3px 3px 0;
    border-left: none;
    margin-right: 20px;
}
#header .left .input-container input
{
    height:22px;
    width:200px;
    background-color: #A82828;
    border-radius: 11px;
    border:none;
    padding: 0 5px;
    font-size: 0.9rem;
    color: #fff;
}